<style media="screen">
  .btn-primary{
    background-color: #c78836;
    border: none;
  }
  .btn-primary:hover, .btn-primary:focus,
  .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
  .btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
  .open > .dropdown-toggle.btn-primary,
  .open > .dropdown-toggle.btn-primary:hover,
  .open > .dropdown-toggle.btn-primary:focus,
  .open > .dropdown-toggle.btn-primary.focus,
  .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background:rgba( 254 , 175 , 69 );; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: white; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    border: 2px solid #FEAF45s;

  }
  .navbar{
    margin: 0;
  }

  .btn-primary.outline {
      border: 3px solid rgba( 254 , 175 , 69 );; //アウトラインのみのボタンの線の色
      color: white ; //アウトラインのみのボタンのテキストの色
  }
  .p-user_icon{
    width: 100px;
    height: 100px;
    border-radius: 200px;
    border: solid 1px #FD5637;
  }
  .p-button-modal__open{
    width: 40%;
    border-radius: 20px;
    line-height: 40px;
    border: none;
    background-color: #FD5637;
    color: #ffffff
  }
  .p-button-modal__close{
    width: 40%;
    border-radius: 20px;
    line-height: 40px;
    border: none;
    background-color: gray;
    color: #ffffff
  }
  .map{
    width:100%;
    height: 90vh;
    @media screen and (max-width: 768px){
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
</style>
<!-- Button trigger modal -->
<button type="button" id="btn-calling-modal" class="btn btn-primary" data-toggle="modal" data-target="#calling-modal" style="display:none">
  Calling modal
</button>
<button type="button" id="btn-waiting-modal" class="btn btn-primary" data-toggle="modal" data-target="#waiting-modal" style="display:none">
  Waiting modal
</button>

<!-- Modal -->
<div class="modal fade" id="calling-modal" tabindex="-1" role="dialog" aria-labelledby="calling-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="media-left">

        </span>
        <div class="media-body u-pl30">
      		<h4 id="calling-modal-message" class="media-heading u-pt30"></h4>
        </div>
      </div>
      <div id="calling-modal-menu" class="modal-body text-center">
        <button id="calling-modal-btn-accept" type="button" class="p-button-modal__open">Start Chat</button>
        <button id="calling-modal-btn-decline" type="button" class="p-button-modal__close u-ml30" data-dismiss="modal">Decline</button>
      </div>
      <div id="calling-modal-menu-ok" class="modal-body text-center" style="display:none">
        <button type="button" class="p-button-modal__close u-ml30" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="waiting-modal" tabindex="-1" role="dialog" aria-labelledby="waiting-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="media-left">
          <%= image_tag current_user.image.url %>
        </span>
        <div class="media-body u-pl30">
      		<h4 id="waiting-modal-message" class="media-heading u-pt30"><span>リクエストを送信中・・・</span></h4>
        </div>
      </div>
      <div id="calling-modal-menu" class="modal-body text-center">
        <button id="waiting-modal-btn-cancel" type="button" class="p-button-modal__close u-ml30" data-dismiss="modal">Cancel</button>
      </div>
      <div id="calling-modal-menu-ok" class="modal-body text-center" style="display:none">
        <button id="waiting-modal-btn-cancel" type="button" class="p-button-modal__close u-ml30" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div id="map" class="map"></div>
  </div>
</div>

<script type="text/javascript" src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
<script>
var map;
function initMap() {
  if(navigator.geolocation) {
    // 現在位置を取得
    navigator.geolocation.getCurrentPosition(function (position) {
      var pos = convertPosition(position);
      map = new google.maps.Map(document.getElementById('map'), {
        center: pos,
        zoom: 19
      });
    },
    function (error) {
      alert('Your device doesn\'t support Geolocation API.');
    });
  }
}
console.log(gon.user_name)

function convertPosition(position) {
  return { lat: position.coords.latitude, lng: position.coords.longitude };
}

var markers = {};
var names = {};
function updateMarker(userId, name, position, type, image) {

  if (type == 'tourist') {
    // 現状はとりあえず観光客の位置をマップ上に表示しない
    return;
  }
  if (markers[userId]) {
    markers[userId].setPosition(position);
  } else {
    markers[userId] = new google.maps.Marker({ position: position, map: map,
    icon: (type == 'guide') ? null : {
      fillColor: (type == 'me') ? "#0000B0" : "#FF4040",                //塗り潰し色
      fillOpacity: 0.8,                    //塗り潰し透過率
      path: google.maps.SymbolPath.CIRCLE, //円を指定
      scale: 10,   //円のサイズ
      strokeColor: (type == 'me') ? "#000080" : "#FF0000",              //枠の色
      strokeWeight: 1.0                    //枠の透過率
    },
    label: (type == 'me') ? { text: 'You', color:'#FFFFFF', fontSize: '10px' } : null });
    if (type != 'me') {
      var infoWindow  = new google.maps.InfoWindow({ // 吹き出しの追加
        content: '<div class="sample">'+'<img  src="image.url" alt="">' + name + '<button class="btn btn-sm btn-primary btn-block" onclick="sendRequest(' + userId + ')">Request!</button></div>' // 吹き出しに表示する内容
      });
      markers[userId].addListener('click', function() { // マーカーをクリックしたとき
        infoWindow.open(map, markers[userId]); // 吹き出しの表示
      });
    }
    names[userId] = name;
  }
}

function removeMarker(userId) {
  markers[userId].setMap(null);
}

var room;

function sendRequest(destUserId) {
  room.send(JSON.stringify({
    type: 'request',
    userId: (gon.user_id),
    destUserId: destUserId,
    name: (gon.user_name),
    image: (gon.user_image),
  }));
  $('#waiting-modal-message').text('Calling ' + names[destUserId] + ' ...');
  $('#waiting-modal-btn-cancel').click(function () {
    cancelRequest(destUserId);
  });
  $('#waiting-modal-menu').show();
  $('#waiting-modal-menu-ok').hide();
  $('#btn-waiting-modal').click();
}

function cancelRequest(destUserId) {
  room.send(JSON.stringify({
    type: 'cancel',
    userId: (gon.user_id),
    destUserId: destUserId
  }));
}

function declineRequest(destUserId) {
  room.send(JSON.stringify({
    type: 'decline',
    userId: (gon.user_id),
    destUserId: destUserId
  }));
}

function acceptRequest(destUserId) {
  room.send(JSON.stringify({
    type: 'accept',
    userId: (gon.user_id),
    destUserId: destUserId
  }));
}

// peerオブジェクト
const peer = new Peer({
  key: '5826fa6f-ff8d-4587-87c3-40c38175ba7f', // 自分のAPIキーを入力
  debug: 3
});

setTimeout(function () {
  room = peer.joinRoom('location', { mode: 'sfu' });
	console.log(room);

  // 位置情報を定期送信
  setInterval(function () {
    // 現在位置を取得
    navigator.geolocation.getCurrentPosition(function (position) {
      console.log(position);
      room.send(JSON.stringify({
        type: 'location',
        userId: (gon.user_id),
        name: (gon.user_name),
        image: (gon.user_image),
        position: convertPosition(position),
        userType: '1'
      }));
      updateMarker((gon.user_id), (gon.user_name), convertPosition(position), 'me', (gon.user_image));
    },
    function (error) {
      console.log('Failed to get current position.');
    });
  }, 5000);

  // 受信
  room.on('data', function(data){
    // data.src = 送信者のpeerid, data.data = 送信されたメッセージ
    console.log('Received: ' + data.data);
    var d = JSON.parse(data.data);
    switch (d.type) {
      case 'location':
        // 位置情報をサーバーから受け取った時(地図上のマーカーを更新)
        updateMarker(d.userId, d.name, d.position, d.userType, d.image);
        break;
      case 'disconnection':
        // 他の人の接続切れをサーバーから受け取った時(地図上のマーカーを削除)
        removeMarker(d.userId);
        break;
      case 'request':
        // ガイド依頼の呼び出しをサーバーから受け取った時(呼び出しモーダルを表示)
        if (d.destUserId == (gon.user_id)) {
          $('#calling-modal-message').text(d.name + ' scouted you!!');
          $('#calling-modal-message').html(`<p><img src="d.image.url" alt="">から</p>`);
          $('#calling-modal-btn-decline').click(function () {
            declineRequest(d.userId);
          });
          $('#calling-modal-btn-accept').click(function () {
            acceptRequest(d.userId);
            location.href = '/chat?room=' + d.userId + '&tourist=' + d.userId + '&guide=' + d.destUserId;
          });
          $('#calling-modal-menu').show();
          $('#calling-modal-menu-ok').hide();
          $('#btn-calling-modal').click();
        }
        break;
      case 'cancel':
        // ガイド依頼の呼び出しキャンセルをサーバーから受け取った時(呼び出しモーダルを閉じる)
        if (d.destUserId == (gon.user_id)) {
          $('#calling-modal-message').text('The request from ' + d.name + ' has been cancelled.');
          $('#calling-modal-menu').hide();
          $('#calling-modal-menu-ok').show();
        }
        break;
      case 'decline':
        // ガイド依頼の呼び出しキャンセルをサーバーから受け取った時(呼び出しモーダルを閉じる)
        if (d.destUserId == (gon.user_id)) {
          $('#waiting-modal-message').text('Your request has been declined.');
          $('#waiting-modal-menu').hide();
          $('#waiting-modal-menu-ok').show();
        }
        break;
      case 'accept':
        // ガイド依頼の呼び出し承諾をサーバーから受け取った時(呼び出しモーダルを閉じる)
        if (d.destUserId == (gon.user_id)) {
          location.href = '/chat?room=' + d.destUserId;
        }
        break;
      default:
        console.log('Undefined type: ' + d.type);
    }
  });
}, 2000);

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvvoPaN9Wdcyka3M5dDefxCJX3Kl4jUTU&callback=initMap"></script>
