
  <style media="screen">
    html { overflow:auto; }
    body {
        word-wrap: break-word;
        -webkit-overflow-scrolling: auto;
        overflow-scrolling: auto;
    }

    /* navbar 全体の背景色とボーダーカラー */
    .navbar-default {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    /* border-color: #3e6962; */
    }
    /* navbar テキストカラー */
    .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    }
    /* navbar hover,focus時のテキストカラー */
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
    color: #26534c;
    background-color: transparent;
    }
    /* navbar active設定時のカラー */
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
    color: #26534c;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    }
    /* navbar ドロップダウン(親)のカラー */
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:focus,
    .navbar-default .navbar-nav>.open>a:hover {
    color: #3e6962;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    }
    /* navbar ドロップダウン(子)のボックスカラー */
    .dropdown-menu {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    border: 1px solid #3e6962;
    border: 1px solid #3e6962(0, 0, 0, .15);
    -webkit-box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
    box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
    }
    /* navbar ドロップダウン(子)テキストカラー */
    .dropdown-menu>li>a {
    color: #ffffff;
    }
    /* navbar ドロップダウン(子)focus,hover時のカラー */
    .dropdown-menu>li>a:focus,
    .dropdown-menu>li>a:hover {
    color: #26534c;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    }
    /* navbar ドロップダウン(子)内の区切り線(class=”divider”)のカラー */
    .dropdown-menu .divider {
    background-color: #3e6962;
    }
    /* navbar 画面サイズ767px以下の時のカラー */
    @media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #26534c;
    background-color: transparent;
    }
    /* ドロップダウンactive設定時のカラー */
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    }
    }
    /* navbar ハンバーガー四角枠 */
    .navbar-default .navbar-toggle {
    border-color: #ffffff;
    }
    /* navbar ハンバーガー三本線 */
    .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
    }
    /* navbar ハンバーガーボタン,タップとホバーした時の背景色 */
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
    }
    /* navbar ハンバーガーボタン,タップとホバーした時の四角枠 */
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
    border-color: #FFE53B;

    }
    /* navbar ハンバーガーボタン,タップとホバーした時の三本線 */
    .navbar-default .navbar-toggle:focus > .icon-bar,
    .navbar-default .navbar-toggle:hover > .icon-bar {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    }
    /* navbar Brandのカラー */
    .navbar-default .navbar-brand {
    color: #ffffff;;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    }
    .navbar-default .navbar-brand:focus,
    .navbar-default .navbar-brand:hover {
    color: #ffffff;
    background-color: transparent;
    }
    .navbar-toggle {
      z-index: 2;
    }

    .navbar-brand-center {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      text-align:center;
      margin: auto;
    }

    @media (min-width: 768px) {
      .navbar-brand-center {
          margin-left: 0 !important;
      }

    }
    .logo{
    width: 60px;
    position: relative;
    top: -12px;
    }
    .u-pd-lr30{
      padding: 0 30px;
    }
    .u-pt10{
      padding-top: 10px;
    }
    .u-pt30{
      padding-top: 30px;
    }
    .u-pl30{
      padding-left: 30px;
    }
    .u-pt100{
      padding-top: 100px;
    }
    .u-pt50{
      padding-top: 50px;
    }
    .u-ml30{
      margin-left: 30px;
    }
    p,h1,h2,h3,h4{
      color: gray;
    }
  </style>
<!-- ページのコンテンツすべてをwrapする（フッター以外） -->
  <div id="wrap">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand navbar-brand-center" href="/"><span><img src="../../public/images/icon01.png" alt="YouScriber"></span></a>
        </div>
        <div class="navbar-text navbar-right text-right" style="padding-right:10px">
          <span style="color:white">
            <!-- <% if user_signed_in? %>
              <%= link_to "LOGOUT", destroy_user_session_path, method: :delete%>
            <%else%>
              <%= link_to "LOGIN", new_user_session_path %>
            <%end%> -->
          </span>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
